<!--
	Verti by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ScrockBot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../public/assets/css/main.css" />
	</head>
	<body class="is-preload left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1>ScrockBot</a></h1>
								<span>SolanaSniper Bot</span>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>CONFIG</a></li>
									<li>
										<a href="#">Dropdown</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li class="current"><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
								</ul>
							</nav>

					</header>
				</div>



			

<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Nome</th>
        <th>StartPrice</th>
        <th>Buy Price</th>
        <th>Live Price</th>
        
        <th>Gain</th>
        <th>MarketCap USD</th>

        <th>Trx Num</th>
        <th>Time</th>
        <th>Transazioni</th>
        
        <th>Contract</th>
        <th>Pool</th>
        <th>info</th>

        
      </tr>
    </thead>
    <tbody>
      <% tokens.forEach(t => { 
        const pct = t.oldMarketCapUsd ? ((t.marketCapUsd - t.oldMarketCapUsd) / t.oldMarketCapUsd) * 100 : 0;
        const gain = ((t.price - t.buyPrice) / t.buyPrice) * 100;
        let gainColor;
        if(gain > 1) gainColor = 'color:green';
        else if(gain < -1) gainColor = 'color:red';
        const time = new Date(t.timestamp).toLocaleTimeString();
        let defiExchange ;
        if (t.mint.includes('BONK') || t.mint.includes('bonk')) {
          defiExchange = `<a href="https://bonk.fun/token/${t.mint}" target="_blank">Apri Pool</a>`;
        } else if (t.mint.includes('PUMP') || t.mint.includes('pump')) {
          defiExchange = `<a href="https://pump.fun/coin/${t.mint}" target="_blank">Apri Pool</a>`;
        } else {
          defiExchange = 'N/A';
        }
      %>
        <tr>
          <td><%= t.symbol %></td>
          <td><%= t.name %></td>
          <td><%= t.startPrice %></td>
          <td><%= t.buyPrice || '..' %></td>
          <td><%= t.price || (t.solInPool / t.tokensInPool).toFixed(10) %></td>
           <td style=<%- gainColor %>><%= gain.toFixed(2) %>%</td>
          
           <td>$<%= t.marketCapUsd %></td>    

          <td><%= t.trxNum %></td>
          <td><%= time %></td>
          <td>
            <button onclick="showTransactions('<%= t.mint %>')">Vedi</button>
          </td>
          <td> <button onclick="copyToClipboard('<%= t.mint %>')">Copy Contract</button> </td>
          <td> <%- defiExchange %></td>
          <td> <button onclick="showObject('<%= t.mint %>')">info</button>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<!--<a href="#" class="image featured"><img src="../public/images/pic02.jpg" alt="" /></a>-->
										<div class="inner">
											<header>
												<h2>An interesting title</h2>
												<p>This is also an interesting subtitle</p>
											</header>
											<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<div class="inner">
											<header>
												<h2>Oh, and finally ...</h2>
												<p>Here's another intriguing subtitle</p>
											</header>
											<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>


			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Solana Network info</h3>
										<ul class="style2">
											<li><a href="#">Etiam feugiat condimentum</a></li>
											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
											<li><a href="#">Sed porttitor cras in erat nec</a></li>
											<li><a href="#">Felis varius pellentesque potenti</a></li>
											<li><a href="#">Nullam scelerisque blandit leo</a></li>
										</ul>
									</section>

							</div>
							<div class="col-3 col-6-medium col-12-small">

								<!-- Links -->
									<section class="widget links">
										<h3>Bot Info</h3>
										<ul class="style2">
											<li><a href="#">Etiam feugiat condimentum</a></li>
											<li><a href="#">Aliquam imperdiet suscipit odio</a></li>
											<li><a href="#">Sed porttitor cras in erat nec</a></li>
											<li><a href="#">Felis varius pellentesque potenti</a></li>
											<li><a href="#">Nullam scelerisque blandit leo</a></li>
										</ul>
									</section>

							</div>
						
			
						</div>
						
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="../public/assets/js/jquery.min.js"></script>
			<script src="../public/assets/js/jquery.dropotron.min.js"></script>
			<script src="../public/assets/js/browser.min.js"></script>
			<script src="../public/assets/js/breakpoints.min.js"></script>
			<script src="../public/assets/js/util.js"></script>
			<script src="../public/assets/js/main.js"></script>

	</body>
</html>