<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Token Status</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>Token Monitor & Bot Options</h1>
  </header>

  <button class="config-button" onclick="openConfig()">⚙ Configura Bot</button>

  <div class="config-overlay" id="configOverlay">
    <span class="close-config" onclick="closeConfig()">✖</span>
      <!-- pannello opzioni -->
        <h2>Opzioni Bot</h2>
        <div class="content">
    <form id="botForm" onsubmit="return saveOptions(event)">

      <div class="twoc">

      <div class="two-column-container">
      <div class="hintt">Filtri Token</div>
      <div class="row"><label>Min Liquidity (SOL)</label><input type="number" step="0.10" id="liquidityMin"></div>
      <div class="row"><label>Max Liquidity (SOL)</label><input type="number" step="0.10" id="liquidityMax"></div>
      <div class="row"><label>Dev Share max buy (%)</label><input type="number" step="1" id="devShare"></div>
      <div class="row"><label>Min Market Cap (SOL)</label><input type="number" step="0.5" id="marketcapMin"></div>
      <div class="row"><label>Max Market Cap (SOL)</label><input type="number" step="0.5" id="marketcapMax"></div>
      <div class="row"><label>RugPull.xyz check</label><input type="checkbox" id="enablerugpullxyz"></div>
      <div class="separator"></div>
      <div class="hintt">Sell</div>
      <div class="row"><label>Quick Sell × Multiplier</label><input type="number" step="0.01" id="quickSellMultiplier"></div>
      <div class="row"><label>Quick Sell min trades</label><input type="number" step="1" id="quickSellMinTrades"></div>
      <div class="row"><label>Rugpull max trades</label><input type="number" step="1" id="rugpullMaxTrades"></div>
      <div class="row"><label>Rugpull min gain × Multiplier</label><input type="number" step="0.01" id="rugpullMinGainMultiplier"></div>
      <div class="separator"></div>
      </div>

      <div class="two-column-container">
        <div class="hintt">Monitor Token</div>
        <div class="row"><label>Timer Monitor(sec)</label><input type="number" step="0.10" id="timeMonitor"></div>
        <div class="row"><label>Volume Min (SOL)</label><input type="number" step="0.01" id="volumeMinMonitor"></div>
        <div class="row"><label>Max Suspicious Trades</label><input type="number" step="1" id="maxTrxNumMonitor"></div>
        <div class="row"><label>Max Suspicious Volume (SOL)</label><input type="number" step="0.10" id="maxSuspiciousVolume"></div>
        <div class="row"><label>Max Suspicious Gain (%)</label><input type="number" step="0.01" id="maxSuspiciousGain"></div>
      
       <div class="separator"></div>
        <div class="hintt">Buy Snipe Token</div>
        <div class="row"><label>Buy Amount: </label><input type="number" step="0.01" id="buyAmount"></div>
       <div class="row"><input type="checkbox" id="demoversion" value="demoversion"><label for="demoversion"> demo</label></div>
        
        <div class="separator"></div>
        <div class="hintt">Extra filtri Token</div>
        <div class="row"><input type="checkbox" id="website" value="Bike"><label for="website"> haswebsite</label></div>
        <div class="row"><input type="checkbox" id="websitecheck" value="websitecheck"><label for="websitecheck"> haswebsite check</label></div>
        <div class="row"><input type="checkbox" id="Description" value="Description"><label for="Description"> hasDescription</label></div>
        <div class="row"><input type="checkbox" id="TwitterOrTelegram" value="TwitterOrTelegram"><label for="TwitterOrTelegram"> hasTwitterOrTelegram</label></div>
        </div>

      </div>
      <!--<div class="row"><label>Abilita Trailing</label><input type="checkbox" id="enableTrailing"></div>
      <div class="row"><label>Trailing % (0.01–0.90)</label><input type="number" step="0.01" id="trailingPercent"></div>
      <div class="row"><label>Aggiorna client (ms)</label><input type="number" step="100" id="clientRefreshMs"></div> -->
      <div class="row"><button class="btn" type="submit">💾 Salva</button></div>
      <div class="row"><button class="btn" onclick="loadOptions()">Carica</button></div>
    </form>
 </div>
</div>

<div class="">
      <!-- tabella token -->
  <div class="card" style="overflow:auto;">
  <h2>Token Monitorati <span id="summary" class="chip muted"></span></h2>
  <div class="content" style="padding:0;">
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Nome</th>
        <th>StartPrice</th>
        <th>Buy Price</th>
        <th>Live Price</th>
        
        <th>Gain</th>
        <th>MarketCap USD</th>

        <th>Trx Num</th>
        <th>Time</th>
        <th>Transazioni</th>
        
        <th>Contract</th>
        <th>Pool</th>

        
      </tr>
    </thead>
    <tbody>
      <% tokens.forEach(t => { 
        const pct = t.oldMarketCapUsd ? ((t.marketCapUsd - t.oldMarketCapUsd) / t.oldMarketCapUsd) * 100 : 0;
        const gain = ((t.price - t.startPrice) / t.startPrice) * 100;
        const time = new Date(t.timestamp).toLocaleTimeString();
        let defiExchange ;
        if (t.mint.includes('BONK') || t.mint.includes('bonk')) {
          defiExchange = `<a href="https://bonk.fun/token/${t.mint}" target="_blank">Apri Pool</a>`;
        } else if (t.mint.includes('PUMP') || t.mint.includes('pump')) {
          defiExchange = `<a href="https://pump.fun/coin/${t.mint}" target="_blank">Apri Pool</a>`;
        } else {
          defiExchange = 'N/A';
        }
      %>
        <tr>
          <td><%= t.symbol %></td>
          <td><%= t.name %></td>
          <td><%= t.startPrice %></td>
          <td><%= t.buySign[0].price || '..' %></td>
          <td><%= t.price || (t.solInPool / t.tokensInPool).toFixed(10) %></td>

           <td><%= gain.toFixed(2) %>%</td>
           <td>$<%= t.marketCapUsd %></td>    

          <td><%= t.trxNum %></td>
          <td><%= time %></td>
          <td>
            <button onclick="showTransactions('<%= t.mint %>')">Vedi</button>
          </td>
          <td> <button onclick="copyToClipboard('<%= t.mint %>')">Copy Contract</button> </td>
          <td> <%- defiExchange %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</div>
<div>
<h2>TOKEN logger</h2>
</div>
</div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span id="close">&times;</span>
      <h2>Transazioni Token</h2>
      <ul id="txList"></ul>
    </div>
  </div>

  <script src="/public/script.js"></script>
</body>
</html>
